@import url("reset.css");
@import url("font.css");

p {
  text-align: center;
  font-size:45px;
  font-family:caviar dreams;
  color:white;
}

span {
  color:white;
}

h1 {
  font-size:45px;
  color:green;
  text-align:center;
  font-family:caviar dreams;
}

fred.polique {
  justify-content:center;
}



body {
  background-image: url("https://media1.tenor.com/images/02d7f48c1b1ec14a06431dd120cff7b7/tenor.gif?itemid=5203855");
  background-size:100%;
}

button {
  background-color:yellow;
  width:49%;
  margin-left:
}
